<h2>My block library</h2>
<!-- <div class="chosen">
    <table>
        <tr>
            <td>
                <span>Initiatiors</span>
                <ul>
                    <li *ngFor="let block of blocks: 
                        block.selected==True">
                    </li>
                </ul>
            </td>
            
        </tr>
    </table>
</div>
-->
<table class="library">
    <thead>
        <th>Initiatiors</th>
        <th>Elongation Monomers</th>
        <th>Terminators</th>

<ul>
    <h4>Elongation Monomers</h4>
    <li *ngFor="let block of blocks"
        [class.selected]="block.selected == true"
        (click)="onSelect(block)">
        <span>{{block.name}}</span> is available.
    </li>
</ul>


